---
import Layout from '../components/layout.astro';
---

<style>
.wrapper {
  display: block;
  text-align: center;
}
</style>

<Layout
  title="Instant Rollbacks"
  description="Make changes without fear of pager duty! Roll back to a previous deploy instantly with one click."
>
  <main>
    <div class="wrapper">
      <img
        src="/images/corgi.jpg"
        alt="a corgi at a laptop looking scared. caption says “when you realize you made that change in production”"
      />

      <p>
        <a href="https://docs.netlify.com/site-deploys/manage-deploys/#rollbacks">
          Learn about rollbacks in the Netlify docs.
        </a>
      </p>
    </div>
  </main>
</Layout>