---
import Layout from '../components/layout.astro';
---

<style>
h2 {
  text-align: center;
}
</style>

<Layout
  title="Netlify Forms"
  description="Turn any HTML form into a functional form that can receive submissions with a single line of code."
>
  <main>
    <h2>Submission received!</h2>
  </main>
</Layout>
