.container {
}

.error {
  background: hsl(0 85% 92%);
  border: 1px solid hsl(0 85% 85%);
  border-radius: 0.25rem;
  color: hsl(0 55% 45%);
  margin-bottom: 1rem;
  padding: 1rem;
}

.error p {
  margin: 0;
}

.error pre {
  background: #fdfdfd;
  color: hsl(0 25% 40%);
  overflow-x: scroll;
  padding: 0.25rem 0.5rem;
}

.button {
  background: var(--primary);
  border: 0;
  border-radius: 4px;
  color: var(--button);
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: max-content;
}
