:root {
  --heading: #151a1e;
  --text: #33373b;
  --text-muted: #676c70;
  --primary: #5cebdf;
  --button: #054861;
  --lightBorder: #d2e0fe;
  --light: #e5edff;
  --white: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  line-height: 1.45;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem 0 4rem;
}

main {
  background: var(--light);
  border-bottom: 1px solid var(--lightBorder);
  border-top: 1px solid var(--lightBorder);
  margin-bottom: 2rem;
  margin-top: 3rem;
  padding: 2rem max(5vw, 50vw - 60ch / 2);
  width: 100vw;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
