.steps {
  background: var(--light);
  border-bottom: 1px solid var(--lightBorder);
  border-top: 1px solid var(--lightBorder);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 2rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.button {
  background: var(--primary);
  border-radius: 4px;
  color: var(--button);
  display: inline-block;
  font-weight: 600;
  margin-top: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: max-content;
}
